* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ========================================= */

.navbar {
  background-color: rgb(248, 249, 250);
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  color: rgba(0,0,0,.9);
  text-align: center;
}
.navbar .title {
  margin-right: 1rem;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  font-size: 1.25rem;
}
.navbar a {
  text-decoration: none;
  padding: 0px .5rem;
  color: #868686;
}
.navbar a:hover {
  color: black;
}
.navbar a:active {
  color: black;
}

/* ========================================= */

.content {
  /* background-color: darkgreen; */
  padding: 20px 40px;
  min-height: 600px;
}

/* ========================================= */

.product-category {
  margin: 25px 10px;
  box-shadow: 1px 3px 5px  rgba(0,0,0,0.6);
  border: 1px solid black;
  border-radius: 10px 10px 5px 5px;
}
.category-title {
  background-color: rgb(248, 249, 250);
  border-bottom: 1px solid black;
  padding: 20px 30px;
  border-radius: 10px 10px 0 0;
}
.product-title {
}
.product-list {
  border-radius: 0 0 5px 5px;
  padding: 10px 30px 30px 30px;
}
.product-card {
  background-color: rgb(248, 249, 250);
  border-bottom: 1px solid black;
  margin: 5px;
  padding: 20px;
  text-align: center;
  min-width: 250px;
}
.product-card:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.6);
}